body {
    background:
    linear-gradient(
       rgba(0, 0, 0, 0.3),
       rgba(0, 0, 0, 0.3)
    ),
    url(https://c4.wallpaperflare.com/wallpaper/400/817/199/hexagon-burning-abstract-minimalism-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}