<!DOCTYPE html>

<html lang="en">

<head>

    <!-- <header>
                
            <h1 style= "color: white; font-family: Arial, Helvetica, sans-serif; padding: 10px; justify-content: left;">CONNECT</i></h1>
            <p style= "color: white;justify-content: left; font-family: Arial, Helvetica, sans-serif; padding: 10px;"><span id="datetime"></span></p>
            
        </header>    -->

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>CONNECT</title>
    <link rel="shortcut icon" href="video-conference.png">
    <link rel="stylesheet" href="style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="margin: 0;">

    <div id="login" class="container-fluid" style="background-color:hsl(202, 100%, 42%) ;">
        <!-- <div class="row">
            <div class=".col-md-12 .col-lg-8"> -->
        <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
            <div class="container-fluid">

                <a class="navbar-brand"> <img src="video-conference.png" alt="" width="40" height="40"
                        class="d-inline-block" style="background: var(--bs-white); padding: 10px; float: left;"></img>
                    CONNECT
                </a>

            </div>
        </nav>
        <!-- </div>
        </div> -->

        <section class="register-photo .md-6" style="background: var(--bs-blue);margin: 0;color: hsl(202, 100%, 42%);">
            <div class="form-container">
                <div class="image-holder" style="background: url('3697251.jpg') center / contain no-repeat;"></div>
                <form method="post">
                    <h2 class="text-center" style="font-size: 22px;">Collaborate and Celebrate</h2>
                    <div class="mb-3" id="EnterName"><input type="text" class="form-control" id="userName" size="50px"
                            placeholder="Enter your name" /></div><br></br>
                    <div class="mb-3" id="selectRoom"><input id="roomNumber" type="text" class="form-control"
                            size="50px" placeholder="Enter room number" /></div>
                    <div class="mb-3"><button id="goToRoom" class="btn btn-primary d-block w-150" type="button"
                            title="start meeting" style="background-color:#eb3b60; color:white">Start Meeting</button>
                </form>
            </div>
        </section>

    </div>

    <div id="videoPage" class="container hidden" style="background-color: black;">

        <div class="video_tag">

            <div id="consultingRoom" class="video-room">
                <video id="localVideo" autoplay></video>
                <video id="remoteVideo" autoplay></video>
            </div>

        </div>
        <div class="container-fluid">
            <div id="buttons" class="row">
                <div class="col-md-4">
                    <button id="mute_unmute" class="button1" title="mute/unmute" onclick="muteunmute()"><i
                            class="fas fa-microphone"></i></button>
                </div>
                <div class="col-md-4">
                    <button id="video_on/off" class="button1" title="on/off" onclick="on_off()"><i class="fas fa-video"
                            style="vertical-align: middle;"></i></button>
                </div>

                <div class="col-md-4">
                    <button id="pip" style="display: none" class="button1"><i class="fa fa-home"></i></button>
                </div>

                <div class="col-md-4">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" type="btn" href="#"></a>
                            <a class="dropdown-item" type="btn" href="#"></a>
                            <a class="dropdown-item" type="btn" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
                    <div class="col-md-4"><button id="mute-unmute" type="button" onclick="muteunmute()">mute/unmute</button></div>
                    <div class="col-md-4"><button id="video_on/off" type="button" onclick="on_off()">on/off</button><div>
                    <div class="col-md-4"><button id="leave" type="button" onclick="leave()">leave meeting</button></div>
                </div> -->

    <!-- <script>
            var dt = new Date();
            document.getElementById("datetime").innerHTML = dt.toLocaleString();
            </script> -->


    <script>

        const videopip = document.querySelector("#videopip");
        const button = document.querySelector("#button");

        if ("pictureInPictureEnabled" in document) {
            pip.style.display = null;

            pip.addEventListener("click", () => {
                if (document.pictureInPictureElement) {
                    document.exitPictureInPicture().catch(err => {
                        console.log(err);
                    });
                    return;
                }
                // mute_unmute.requestPictureInPicture().catch(err =>{
                //     console.log(error);
                // });
                remoteVideo.requestPictureInPicture().catch(err => {
                    console.log(err);
                });
            });

            // remoteVideo.addEventListener("enterpictureinpicture", e => {
            //     console.log(e);

            //     pip.textContent = "Leave Picture-in-Picture";
            // })
            // // mute_unmute.addEventListener("enterpictureinpicture", e => {
            // //     console.log(e);

            // //     pip.textContent = "Leave Picture-in-Picture";
            // // })

            // remoteVideo.addEventListener("leavepictureinpicture", e => {
            //     console.log(e);

            //     pip.textContent = "Enter Picture-in-Picture";
            // })
            // mute_unmute.addEventListener("leavepictureinpicture", e => {
            //     console.log(e);

            //     pip.textContent = "Enter Picture-in-Picture";
            // })

        }
    </script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="client.js"></script>

</body>

</html>