<html lang="en">

<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="shortcut icon" href="video-conference.png">
    <link rel="stylesheet" href="styleNew.css"> 
    <title>CONNECT</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean">
                    <div class="container">
                        
                        <a class="navbar-brand" style="background: var(--bs-white);color: var(--bs-gray-dark);font-size: 40px; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding: 10px;">CONNECT</a>
                        
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <section class="register-photo" style="background: var(--bs-blue);margin: 0;color: hsl(202, 100%, 42%);">
        <div class="form-container">
            <div class="image-holder" style="background: url('3697251.jpg') center / contain no-repeat;"></div>
            <form method="post">
                <h2 class="text-center" style="font-size: 22px;">Collaborate and Celebrate</h2>
                <div class="mb-3" id="EnterName"><input type="text" class="form-control" id="userName" size="50px" placeholder="Enter your name" /></div><br></br>
                <div class="mb-3" id="selectRoom"><input id="roomNumber" type="text" class="form-control" size="50px" placeholder="Enter room number" /></div>
                <div class="mb-3"><a href="./index"><button id="goToRoom" class="btn btn-primary d-block w-150" type="button" title="start meeting" style="background-color:#eb3b60; color:white">Start Meeting</button></a>
            </form>
        </div>
    </section>
   
    <script src="/socket.io/socket.io.js"></script>    
    <script src="client.js"></script>

</body>

</html>