<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />



    <title>CONNECT</title>
    <link rel="shortcut icon" href="video-conference.png">
    <link rel="stylesheet" href="styleNew.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="margin: 0;">

    <div id="login" class="container-fluid" style="background-color:hsl(202, 100%, 42%) ;">


        <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
            <div class="container-fluid">

                <a class="navbar-brand"> <img src="video-conference.png" alt="" width="40" height="40"
                        class="d-inline-block" style="background: var(--bs-white); padding: 10px; float: left;"></img>
                    CONNECT
                </a>
            </div>
        </nav>

        <section class="register-photo" style="background: var(--bs-blue);margin: 0;color: #0088D6;">
            <div class="form-container">
                <div class="image-holder" style="background: url('3697251.jpg') center / contain no-repeat;"></div>
                <form action="display.html" method="GET">
                    <h2 class="text-center" style="font-size: 22px;">Collaborate and Celebrate</h2>
                    <div class="mb-3" id="Schedule_meeting"><button class="btn btn-primary d-block w-250" type="button"
                            title="schedule meeting" style="background-color:#eb3b60; color:#ffffff">Schedule
                            Meeting</button><br></br>

                        <div class="mb-3"><a href="/newMeeting/"><button class="btn btn-primary d-block w-250"
                                    type="button" title="start meeting"
                                    style="background-color:#eb3b60; color:#ffffff">Start instant
                                    Meeting</button></a>
                </form>
            </div>
        </section>

    </div>

</body>

</html>