<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="LoginPage.css">
</head>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">
                <form action="/Register" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" id="name" name="name" class="form-control" placeholder="username" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password" id="password" name="password"
                            required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">&#xe158;</i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <a href='/login'> <input type="submit" value="Register" class="btn float-right login_btn"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const post_name = document.getElementById('name').innerHTML;
    const post_email = document.getElementById('email').innerHTML;
    const post_password = document.getElementById('password').innerHTML;
    const data = { post_name, post_email, post_password };
    const options = {
        method: 'POST',
        hearders: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    };
    fetch('/register', options).then(response => {
        console.log(response);
    });


</script>

</html>

<!-- .ajax ({
type: "POST",
url: "http://localhost:5500/register/",

const data = {
"username" : "hdjsibwwji",
"email" : "email@email.xom",
"password": "jdkskn" }
dataType : json,
cache: false,
success: function(data){
console.log(data);
}
}); -->