<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/style_chat.css">
    <script>
        const messages = "<%= rmessages %>"
        console.log(rmessages)
    </script>

</head>

<body style="background-color: #1a1a1a;">

    <div class='main'>

        <div class='left_side'>
            <div class="header" style="background-color: #52307c; height: 10px;">
                <h4 style="font-family:Arial, Helvetica, sans-serif;">Chat</h4>
            </div>
            <br></br>
            <div class="chat_window">
                <ul class="messages"></ul>
            </div>
            <div class="message_container">
                <input id="chat_message" type="text" placeholder="Type message here..." style="width: auto;">
            </div>
        </div>


        <div class="right_side">
            <div class="header" style="background-color: #52307c; height: 10px;">
                <h4 style="font-family:Arial, Helvetica, sans-serif;">Meetings</h4>
            </div>
            <br></br>
            <div class="meeting_id">
                <ul class="meetings"></ul>
            </div>
        </div>
    </div>
</body>

</html>